@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-amazon-blue: darkgreen;
  --color-amazon-blue-light: pink;
  --color-amazon-yellow: lightgreen;
  --color-amazon-orange: green;

  --color-amazon-bg: #eaeded;
  --color-amazon-gray-light: #f0f2f2;
  --color-amazon-gray-dark: #565959;

  --font-amazon: "Amazon Ember", Arial, sans-serif;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-amazon-bg text-gray-900 antialiased;
    font-family: var(--font-amazon);
    user-select: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  a {
    @apply no-underline text-inherit hover:text-amazon-orange transition-colors;
  }
}

@layer components {
  .btn-amazon {
    @apply bg-amazon-yellow hover:bg-amazon-orange text-black px-4 py-1.5 rounded-full shadow-sm text-sm transition-all text-center;
  }
}